<div class="grid grid-cols-1 p-2 bg-white border shadow-xs sm:grid-cols-3 rounded-xl" data-controller="bogleheads-calculator">
  <%= form_with html: { class: "bg-gray-25 p-4 rounded-lg flex flex-col gap-4 col-span-1", data: { action: "submit->bogleheads-calculator#calculate" }} do |form| %>
    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :invested_amount, label: "Invested Amount", value: 0, unit_symbol: "$", data: { controller: "autonumeric", synchronized_input_target: "input", action: "synchronized-input#syncValue" } %>
      <%= range_input_slider class: "from-pink-500 to-pink-500", min: 0, max: 1_000_000, step: 1_000, value: 0 %>
    </div>
    <div class="mt-auto">
      <%= form.submit "Calculate" %>
    </div>
  <% end %>
  <div class="col-span-2">
    <div class="flex-1 p-4" data-bogleheads-calculator-target="resultsContainer">
      <div class="grid h-96 place-items-center">
        <div class="flex flex-col gap-4 text-sm text-center text-gray-500 max-w-72">
          <%= lucide_icon "keyboard", class: "h-6 w-6 mx-auto" %>
          <p>How long will your savings support you? Enter your details to find out now.</p>
        </div>
      </div>
    </div>

    <template data-bogleheads-calculator-target="resultsTemplate">
      <div class="grid h-96 place-items-center">
          <div class="flex flex-col gap-4 text-sm text-center text-gray-900 max-w-80">
            <p>Invested Amount: <span t-text:="totalValue" class="text-3xl font-medium">-</span></p>
          </div>
      </div>
    </template>
  </div>
</div>
